@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Parte02</title>
    @RenderPage("~/Views/_Styles.cshtml")
</head>
<body>
     @RenderBody()
</body>
</html>
